<form action="/dashboard/addobject" method="POST">
  <div class="field">
    <label class="label">Station Title</label>
    <input class="input" type="text" placeholder="Enter Station title" name="title">
  </div>
  <button class="button is-black">Add Station</button>
</form>