<form class="box" action="/object/{{object._id}}/addreport" method="POST">
  <label>Enter Report Details:</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <input class="input" type="text" placeholder="Enter Code" name="code">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Temp" name="temp">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Wind Speed" name="windSpeed">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Wind Direction" name="windDirection">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Pressure" name="pressure">
      </div>
    </div>
  </div>
  <button class="button is-black">Add Report</button>
</form>