<form class="box" action="/object/{{object._id}}/addreport" method="POST">
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <label class="label">Code</label>
        <div class="control">
        <input class="input" type="text" placeholder="00" name="code">
        </div>
      </div>
      <div class="field">
        <label class="label">Temperature</label>
        <div class="control">
        <input class="input" type="text" placeholder="0.00C" name="temp">
        </div>
      </div>
      <div class="field">
        <label class="label">Wind Speed</label>
        <div class="control">
        <input class="input" type="text" placeholder="00.00kMh" name="windSpeed">
        </div>
      </div>
      <div class="field">
        <label class="label">Wind Direction</label>
        <div class="control">
        <input class="input" type="text" placeholder="000deg" name="windDirection">
        </div>
      </div>
      <div class="field">
        <label class="label">Pressure</label>
        <div class="control">
        <input class="input" type="text" placeholder="000hPa" name="pressure">
        </div>
      </div>
    </div>
  </div>
  <button class="button is-black">Add Report</button>
</form>