<div class="columns">
  
  <div class="column">
    <div class="card has-background-info-light">
      <header class="card-header">
        <p class="card-header-title"> {{object.title}} </p>
        <span class="icon is-large">
          {{>icons/location}}
        </span>
      </header>
      <div class="card-content">
        <div class="content">
          <p>
            Latitude: {{object.latitude}}
            <br>
            Longitude: {{object.longitude}}
          </p>
          
        </div>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card has-background-info-light">
      <header class="card-header">
        <p class="card-header-title"> Weather </p>
        <span class="icon is-large">
          {{>icons/weather}}
        </span>
      </header>
      <div class="card-content">
        <div class="content">
          <p>
            TBD
          </p>
          
        </div>
      </div>
    </div>
  </div>
  
  <div class="column">
    <div class="card has-background-info-light">
      <header class="card-header">
        <p class="card-header-title"> Temperature </p>
        <span class="icon is-large">
          {{>icons/temperature}}
        </span>
      </header>
      <div class="card-content">
        <div class="content">
          <p>
            Min: TBD
            <br>
            Max: TBD
          </p>
          
        </div>
      </div>
    </div>
  </div>
  
  <div class="column">
    <div class="card has-background-info-light">
      <header class="card-header">
        <p class="card-header-title"> Wind </p>
        <span class="icon is-large">
          {{>icons/wind}}
        </span>
      </header>
      <div class="card-content">
        <div class="content">
          <p>
            Min: TBD
            <br>
            Max: TBD
          </p>
          
        </div>
      </div>
    </div>
  </div>
  
  <div class="column">
    <div class="card has-background-info-light">
      <header class="card-header">
        <p class="card-header-title"> Pressure </p>
        <span class="icon is-large">
          {{>icons/pressure}}
        </span>
      </header>
      <div class="card-content">
        <div class="content">
          <p>
            Min: TBD
            <br>
            Max: TBD
          </p>
          
        </div>
      </div>
    </div>
  </div>
  
</div>