<nav class="navbar mb-6">
  <div class="navbar-brand">
    {{> brand}}
  </div>
  <div class="navbar-menu" id="navMenu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a id="dashboard" class="button is-light" href="/dashboard"> Dashboard </a>
          <a id="about" class="button is-light" href="/about"> About </a>
          <a id="api" class="button is-danger is-light" href="/api"> API </a>
          <a id="logout" class="button is-danger" href="/logout"> Logout </a>
        </div>
      </div>
    </div>
  </div>
</nav>

<script>
  document.getElementById("{{active}}").classList.add("is-link");
</script>