{{> menu active="about"}}

<section class="box is-3 has-text-centered">
  <h3 class="title">
    WeatherTop
  </h3>
  <div class="section">
    Weather Station App - Monitor latest weather station readings
  </div>
</section>